.vscode/
bin/
/Information_Security/lab1/lab1/.vs/lab1
/Information_Security/lab1/lab1/lab1/x64
/Information_Security/lab1/lab1/x64
/Information_Security/lab1/lab1/lab1.vcxproj.user
/Information_Security/lab1/lab1_activator/.vs/lab1_activator
/Information_Security/lab1/lab1_activator/lab1_activator/x64
/Information_Security/lab1/lab1_activator/x64
/Information_Security/lab1/lab1_activator/lab1_activator.vcxproj.user
