.vscode/
bin/
/Information_Security/lab1/lab1/.vs/lab1
/Information_Security/lab1/lab1/lab1/x64
/Information_Security/lab1/lab1/x64
/Information_Security/lab1/lab1/lab1.vcxproj.user
/Information_Security/lab1/lab1_activator/.vs/lab1_activator
/Information_Security/lab1/lab1_activator/lab1_activator/x64
/Information_Security/lab1/lab1_activator/x64
/Information_Security/lab1/lab1_activator/lab1_activator.vcxproj.user
/Information_Security/lab1/lab1_deactivator/x64
/Information_Security/lab1/lab1_deactivator/lab1_deactivator/x64
/Information_Security/lab1/lab1_deactivator/.vs/lab1_deactivator
/Information_Security/lab1/lab1_deactivator/lab1_deactivator.vcxproj.user
/Distributed_Computing/lab1/lab1/.vs/lab1
/Distributed_Computing/lab1/lab1/x64/Debug
/Distributed_Computing/lab1/lab1/lab1.vcxproj.user
/Distributed_Computing/lab2/.vs
/Distributed_Computing/lab2/x64/Debug
/Distributed_Computing/lab2/lab1.vcxproj.user
